@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");

.game-list {
  font-family: "Manjari", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}